/*
https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth#:~:text=WebKit%20implements%20a%20similar%20property,%2Dwebkit%2Dfont%2Dsmoothing%20.&text=antialiased%20%2D%20Smooth%20the%20font%20on,backgrounds%20makes%20it%20look%20lighter.
*/
/* purgecss start ignore */
.light-mode {
	@apply bg-portfolio text-black border-black;
	--color-bg-primary: #ebe8e0;
	--color-bg-auxiliary: #eaeaea;
	--color-text-primary: #000000;
	--color-text-auxiliary: #151515;
	--color-text-tertiary: #505050;
	--color-text-quaternary: #ebe8e0;
	--color-border-primary: #000000;
	--color-fill-primary: #000000;
	--color-fill-auxiliary: #151515;
	--color-fill-tertiary: #505050;
	--color-fill-quaternary: #afafaf;
	--color-fill-quinary: #eaeaea;
	--color-fill-senary: #ffffff;
	--color-stroke-primary: #000000;
}

.dark-mode {
	@apply bg-black text-white border-white;
	--color-bg-primary: #000000;
	--color-bg-auxiliary: #151515;
	--color-text-primary: #ffffff;
	--color-text-auxiliary: #eaeaea;
	--color-text-tertiary: #afafaf;
	--color-text-quaternary: #000000;
	--color-border-primary: #ffffff;
	--color-fill-primary: #ffffff;
	--color-fill-auxiliary: #eaeaea;
	--color-fill-tertiary: #afafaf;
	--color-fill-quaternary: #505050;
	--color-fill-quinary: #151515;
	--color-fill-senary: #000000;
	--color-stroke-primary: #ffffff;
}

:root {
	@apply .light-mode;
	@apply .dark-mode;
}

html {
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-shadow: none;
}

#__next {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
}

@tailwind base;
/* Write custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */
/* purgecss end ignore */

/* Write custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Write custom utilities here */

.html {
	@apply font-head;
	@apply font-somaRoman;
	@apply font-somaDisplay;
}

.has-text-align-left {
	@apply text-left;
}

.has-text-align-center {
	@apply text-center;
}

.has-text-align-right {
	@apply text-right;
}

.has-large-font-size {
	@apply text-4xl;
}

.alignfull {
	@apply w-screen relative;

	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	right: 50%;
}

.wp-block-image img {
	@apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
	@apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
	@apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
	@apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
	@apply table-caption;

	caption-side: bottom;
}

.wp-block-image .alignleft {
	@apply float-left mr-4;
}
.wp-block-image .alignright {
	@apply float-right ml-4;
}
.wp-block-image .aligncenter {
	@apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
	@apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
	@apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
	@apply mr-4;
}

.wp-block-cover {
	@apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

	min-height: 430px;
}

.wp-block-verse {
	@apply font-sans;
}

.wp-block-media-text {
	@apply grid grid-cols-2 gap-4;
}

.p-lead:nth-child(n + 7) {
	@apply pl-portfolioS;
}

.p-blogs:nth-child(1) {
	@apply pr-paddingAboutTitleRight;
}

.p-leads:nth-child(n + 6) {
	@apply pl-aboutOffsetPR;
}

.p-last:nth-child(n + 1):nth-child(-n + 12) {
	@apply pl-aboutOffsetPR;
}

.p-indent:nth-child(15) {
	@apply pl-aboutIndentation;
}

.p-indents:nth-child(25) {
	@apply pl-aboutIndentation;
}

@media (max-width: 639px) {
	.p-last:nth-child(n + 1):nth-child(-n + 12) {
		@apply pl-aboutOffsetPRMobile;
	}
}

.fa-portfolioDivider {
	@apply text-customTitle;
}
